body {
    margin:0;
    padding:0;
    background-color:transparent;
}


#content1 {
position:absolute;
z-index:1;
left:25px;
top:40px;
width:900px;
height:350px;
background-color:transparent;
color:#99ffff;
text-align:center;
}

#content2 {
position:absolute;
z-index:2;
left:25px;
top:400px;
width:900px;
height:80px;
background-color:transparent;
color:#99ffff;
text-align:center;
}

